@use "../abstracts/" as *;

.section-home {
    justify-content: center;
    height: 100vh;

    div {
        // box-shadow: 0 0 1px 1px paleturquoise;
    }
    .home-content {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1000px) {
            flex-direction: column;
        }
        // box-shadow: 0 0 1px 1px paleturquoise;
    }
    .img-div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        width: clamp(200px, 40%,500px);
        border-radius: 20px;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    .text-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding-left: 20px;

        h1 {
            font-size: 4rem;
        }

        p {
            font-size: 2rem;
        }

        .text {
            position: relative;
        }

        .typed-text {
            position: absolute;
            font-size: 2rem;
        }
    }

    a {
        margin: 100px auto 0 auto;
        padding: 8px 15px;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        color: black;
        border-radius: 20px;
        cursor: pointer;
        background-color: $color-yellow;
        transition: 250ms ease;
    }
    
    a:hover {
        background-color: $color-yellowHover;
    }
}