@use "./layouts/portfolio.scss";
@use "./components/navbar.scss";
@use "./sections/home.scss";
@use "./sections/about.scss";
@use "./sections/projects.scss";
@use "./sections/contact.scss";
@use "./abstracts/" as *;


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    color: white;
    font-family: $font-body;
}

.App {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(27, 26, 26);
}
.text-teal {
    color: teal;
}