/* font-family: 'Red Hat Text', sans-serif; */
/* font-family: 'Poiret One', cursive; */
/* font-family: 'Proza Libre', sans-serif; */

$font-nav: "Red Hat Text", sans-serif;
$font-body: "Red Hat Text", sans-serif;
$font-headers: "Red Hat Text", sans-serif;
$font-size-headers: 2rem;
$font-quote: "Proza Libre", sans-serif;