.profile-page {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    >div {
        display: flex;
        width: clamp(600px, 100%, 1500px);
        padding: 40px;
        box-shadow: inset 0 0 1px 1px blue;
    }

    &-home {
        justify-content: center;

        .img-div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60vh;
            width: 30vw;
            border-radius: 20px;
            overflow: hidden;

            img {
                height: 100%;
            }
        }

        .text-div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex-wrap: wrap;
            padding: 0 0 20px 50px;

            h1 {
                font-size: 4rem;
            }

            p {
                font-size: 2rem;
            }

            .text {
                position: relative;
            }

            .typed-text {
                position: absolute;
            }
        }

        a {
            margin: 100px auto 0 auto;
            padding: 8px 15px;
            border-radius: 20px;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            color: black;
            cursor: pointer;
            background-color: rgb(255, 222, 89);
            transition: 250ms ease;
        }

        a:hover {
            background-color: rgb(192, 162, 45);
        }
    }

    &-about {
        flex-direction: column;
        height: 100%;
        width: 100%;

        .quote-div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 50%;
            // box-shadow: 0 0 1px 1px aqua;

            .quote {
                position: relative;
                width: 45%;
                font-size: 3rem;
                // box-shadow: 0 0 1px 1px aqua;
                z-index: 10;

                #quote::before {
                    content: open-quote;
                    position: absolute;
                    font-family: sans-serif;
                    font-size: 20rem;
                    font-family: 'Proza Libre', sans-serif;
                    color: rgb(139, 133, 109);
                    top: -5rem;
                    left: -2rem;
                    z-index: -1;
                }

                p {
                    text-align: start;
                }

                p:nth-of-type(2) {
                    float: right;
                    color: rgb(237, 221, 157);
                    font-size: 2rem;
                }
            }
        }

        .about {
            &-cards {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50%;
                width: 100%;

            }

            &-card {
                display: grid;
                place-items: center;
                position: relative;
                padding: 20px;
                width: clamp(200px, 20vw, 300px);
                height: 200px;
                text-align: justify;
                border-radius: 15px;
                background-color: rgb(75, 143, 149);
                overflow: hidden;
                transition: 500ms ease;

                img {
                    position: absolute;
                    height: 100%;
                    user-select: none;
                }

                &-front {
                    display: grid;
                    place-items: center;
                    position: relative;
                    width: 70px;
                    height: 100px;
                    background-color: rgba(16, 20, 9, .5);
                    transition: 500ms ease;

                    .title {
                        text-align: center;
                        line-height: 2rem;
                        user-select: none;

                    }
                }

                &-front::before {
                    content: "";
                    position: absolute;
                    right: -30px;
                    width: 0;
                    border-left: 30px solid rgba(16, 20, 9, .5);
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    transition: 500ms ease;

                }

                &-front::after {
                    content: "";
                    position: absolute;
                    left: -30px;
                    width: 0;
                    border-right: 30px solid rgba(16, 20, 9, .5);
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    transition: 500ms ease;

                }

                &.active {
                    height: 300px;

                }

                &-back {
                    display: grid;
                    place-items: center;
                    position: relative;
                    padding: 1rem;
                    width: 100%;
                    height: 100%;
                    color: white;
                    font-size: 1.2rem;
                    border-radius: 15px;
                    background-color: rgba(16, 20, 9, .5);
                    transition: 500ms ease;


                    .description {
                        text-align: center;

                    }
                }
            }
        }
    }

    &-projects {
        display: flex;
        flex-direction: column;
        height: 100%;

        >div {
            width: 100%;
        }

        .project {
            &-detail {
                height: 50%;
                box-shadow: 0 0 1px 1px pink;
            }

            &-nav {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                height: 10%;
                box-shadow: 0 0 1px 1px pink;

                &-btns {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin: 5px 0;
                    width: clamp(200px, 60%, 60%);
                    border-bottom: 4px solid rgb(139, 133, 109);

                    li+li {
                        border-left: 1px solid rgb(139, 133, 109);
                    }
                }

                &-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px 0;
                    padding: 10px;
                    height: 30px;
                    font-size: 1.2rem;
                    color: rgb(115, 115, 115);
                    cursor: pointer;
                    user-select: none;

                    &.active {
                        color: rgb(237, 221, 157);
                    }
                }

                &-bar {
                    // height: 5px;
                    // width: 60%;
                }
            }

            &-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 40%;
                box-shadow: 0 0 1px 1px pink;
                
                .project {
                    &-card {
                        position: relative;
                        width: 300px;
                        height: 200px;
                        border-radius: 20px;
                        overflow: hidden;
                        box-shadow: 0 0 1px 1px pink;

                        img {
                            position: absolute;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    &-contact {}
}