@use "../abstracts/" as *;

.nav {
    display: grid;
    grid-template-columns: 175px;
    grid-template-rows: 1.25fr 1fr 1fr;
    position: sticky;
    top: 0;
    min-height: 100vh;
    height: 100%;
    background:
        linear-gradient(50deg, rgba(96, 58, 105, 0.8) 15%, rgba(40, 174, 170, 0.8) 80%);
    z-index: 99;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2em;
    }

    &-logo {}

    &-btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-weight: lighter;
    }
    li {
        margin: .4em;
    }
    &-btn {
        font-size: 1.5rem;
        cursor: pointer;
        color: $color-lightGrey;
        text-decoration: none;
        transition: 250ms ease;


        &:hover,
        &.active {
            color: white;
        }
    }

    &-socials {
        align-self: flex-start;

        i {
            margin-bottom: .5em;
            font-size: 2rem;
            color: black;
        }
        :hover {
            transition: 250ms ease;
            color: white;
        }
    }
}