/* font-family: 'Poiret One', cursive; */
/* font-family: 'Red Hat Text', sans-serif; */

:root {
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
}

.App {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(27, 26, 26);
}
.text-teal {
    color: teal;
}